

.about {
  margin: 20px 60px 100px 60px;
}

.about .row {
  position: relative;
  padding: 200px 0 70px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about .co150 {
    position: relative;
    width: 100%;
}

.about .titleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.about .titleText span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}

.about .imgBx {
  position: relative;
  width: 100%;
  min-height: 150%;
}

.about .imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .content {
  font-size: 1em;
  line-height: 24px;
  color: #111;
}

.about h2 {
  font-size: 5em;
  font-weight: bold;
  color: #111;
  margin-bottom: 0.5em;
}
